body
  background-color: $colorBlack
  cursor: url('../img/cursor.png'), default

a
  cursor: url('../img/cursorPointer.png'), pointer


.mainStructure
  display: flex
  justify-content: center
  flex-direction: column

.hidden
  opacity: 0
  filter: blur(4px)
  transform: translateX(-100%)
  transition: all 2s


.show
  opacity: 1
  filter: blur(0)
  transform: translateY(0)