*
  scrollbar-color: $colorRed
  scrollbar-width: thin
  -ms-scrollbar-highlight-color: $colorRed

/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar
  width: 4px


/* Estilo del fondo de la barra de desplazamiento */
::-webkit-scrollbar-track
  background-color: $colorRed


/* Estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb
  background-color: $colorRed

/* Estilo del pulgar de la barra de desplazamiento cuando se desplaza sobre él */
::-webkit-scrollbar-thumb:hover
  background-color: $colorRed



body
  background-color: $colorBlack
  cursor: url('../img/cursor.png'), default

a
  cursor: url('../img/cursorPointer.png'), pointer


.mainStructure
  display: flex
  justify-content: center
  flex-direction: column

.hidden
  opacity: 0
  filter: blur(4px)
  transform: translateX(-100%)
  transition: all 2s


.show
  opacity: 1
  filter: blur(0)
  transform: translateY(0)