.cardSection
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.cardSectionHeader
  color: white
  font-family: $fontAgitProp
  font-weight: 900
  font-size: 7vmin
  padding: .3em
  margin: 2em
  border: #ba2323 solid 3px
  @media (max-width: $largueQuerySize)
    font-size: 2em
    padding: .3em
    margin: 1.5em
  @media (max-width: $mediumQuerySize)
    font-size: 1.4em
    padding: .3em
    margin: 1.5em

.cardSectionText
  color: white
  font-family: $fontLexend
  font-size: 20px
  width: 40%
  padding: 0 7em 0 7em
  @media (max-width: $extraLargueQuerySize)
    padding: 0 2em 0 2em
    font-size: 20px
  @media (max-width: $largueQuerySize)
    padding: 0 .7em 0 .7em
    font-size: 16px
  @media (max-width: $mediumQuerySize)
    padding: 0 0.5em 0 .5em
    font-size: 15px

.cardSectionContainer
  display: flex
  justify-content: center
  align-items: center

.cardSectionCardImage
  height: 20em

.cardSectionCard
  position: relative
  width: 20em
  height: 30em
  perspective: 800px
  cursor: url('../img/cursorPointer.png'), pointer
  @media (max-width: $extraLargueQuerySize)
    width: 16em
    height: 25em
    margin: .5em
  @media (max-width: $largueQuerySize)
    width: 15em
    height: 22em
    margin: 1em
  @media (max-width: $mediumQuerySize)
    width: 9em
    height: 18em
    margin: .5em


.cardSectionInnerBox
  position: absolute
  width: 100%
  height: 100%
  transition: transform 0.8s
  transform-style: preserve-3d


.cardSectionCardFront,
.cardSectionCardBack
  position: absolute
  width: 100%
  height: 100%
  backface-visibility: hidden


.cardSectionCardFront img
  width: 100%
  height: 100%
  object-fit: cover


.cardSectionCardBack
  border: black solid 9px
  background: $colorRed
  transform: rotateY(180deg)

.cardSectionCardBack img
  width: 100%
  height: 100%
  object-fit: cover


.cardSectionCard.flipped .cardSectionInnerBox
  transform: rotateY(180deg)
