.scenarioSection
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.scenarioSectionCarousel
  display: flex
  width: 95%
  height: 30rem

.scenarioSectionCarousel img
  width: 0
  flex-grow: 1
  object-fit: cover
  opacity: .8
  transition: .5s ease

.scenarioSectionCarousel img:hover
  width: 300px
  opacity: 1
  filter: contrast(120%)

.scenarioSectionText
  color: white
  font-family: $fontLexend
  font-size: 1.4em
  width: 65%
  padding: 2em 2em 0 2em
  @media (max-width: $largueQuerySize)
    font-size: 1.4em
    width: 90%
    padding: 2em 2em 0 2em

  @media (max-width: $mediumQuerySize)
    font-size: 1.4em
    width: 90%
    padding: 2em 2em 0 2em

.scenarioSectionResponsiveTouch
  width: 300px
  opacity: 1
  filter: contrast(120%)